p{
    font-size: 19px;
    line-height: 26px;
}
.inner-banner {
    background-color: #52E5CC;
    height: 288px;
}

.banner-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

/*.banner-right img {*/
/*    width: 90%;*/
/*}*/
.box-solution {
    font-size: 32px;
    font-weight: 600;
}
.common-para p, .solution-100 p, .clients-thoughts-col p, .problems_section p, .box-sol-para {
    font-size: 19px;
    line-height: 30px;
    color: #464646;
    margin: 25px 0 30px;
    width: 100%;
    font-weight: 400;
}
.recomendation p, .recomendation li{
    font-size: 19px;
    line-height: 30px;
    color: #464646;
    font-weight: 400;
}
.box-link {
    width: auto;
    font-size: 18px;
    font-weight: 700;
    padding: 11px 23px 11px 62px;
    background-color: #ccf7ef;
    box-shadow: 0px 4px 12px #00000024;
    border-radius: 29px;
    color: #464646;
    position: relative;
    margin: 10px 0 -67px 0px;
    left: 0;
}

.box-link:before {
    content: "";
    position: absolute;
    background: url(../images/mint-leave-icon.svg) top 13px center no-repeat #fff;
    width: 47px;
    background-size: 52%;
    height: 47px;
    border-radius: 29px;
    left: 0;
    top: 0;
}
.process-start .features-col
.banner-right {
    padding: 22px 15px 0;
}
.inner-banner-heading {
    font-size: 32px;
    color: #464646;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.inner-banner p {
    font-size: 21px;
    color: #464646;
    font-weight: 400;
    line-height: 28px;
}

.business-banner img {
    margin: 0 0 0px 0;
    position: relative;
    z-index: 1;
}

/*--------------------Business Problems Css---------------------*/
.problems-100 {
    padding: 60px 0 0 0;
    background: #fff;
    z-index: 99999;
    position: relative;
}

.problems-col {
    margin: 0 -15px 0px;
}

.problems-100 .box-col {
    width: 100%;
    padding: 10px 20px 42px;
}

.heading-20 {
    font-size: 24px;
    color: #464646;
    line-height: 32px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.para-16 {
    font-size: 16px;
    color: #464646;
    line-height: 20px;
    margin: 0 0 15px 0;
}

/*---------------Business Submenu Page Css-----------------*/
.heading-24 {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    color: #464646;
}

.struggling-list ul {
    list-style: disc!important;
    padding: 0 0 0 20px;
}

.struggling-list li{
    font-size: 19px;
    line-height: 30px;
    padding: 10px 0 10px;
}

.recomendation {
    margin: 60px -15px 0;
}

.recomendation-right {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 28px 0 0 0;
}

.recomendation-right img {
    width: 38%; 
}

.our-experts {
    margin: 60px 0 0px;
}

.our-experts .people-box-col {
    width: 100%;
    max-width: 100%;
    margin: 0;
}
.our-experts .people-box-col::after {
    display: none;
}

.expert-user-header a {
    display: inline-block;
    margin: 0 0 0 15px;
}

.expert-user-header a img {
    margin: -10px 0 0 0px;
}

.our-experts .learn-more-link:hover {
    color: #464646!important;
}

.minutes-link {
    float: right;
    color: #464646;
    font-size: 16px;
    text-decoration: underline!important;
    font-weight: 700;
    cursor: pointer;
}

.struggling-100 {
    z-index: 1
}

.modal-open, .pop-up-modal {
    padding-right: 0!important;
}
.pop-up-modal .modal-dialog {
    max-width: 450px;
    margin: 60px auto 0;
}
.pop-up-modal .modal-content {
    padding: 20px 7px 0;
}
.pop-up-modal .modal-header {
    border: 0;
    padding: 0;
}
.pop-up-modal .modal-header .close {
    padding: 3px 8px;
    margin: -34px -20px -16px auto;
    background: #fff;
    border-radius: 29px;
    opacity: 1;
    border: 2px solid #464646;
    color: #464646;
    font-weight: 700;
}
legend {
    font-size: 22px;
    color: #464646;
    line-height: 26px;
    font-weight: 700;
    margin: 0px 0 19px 0;
}

/*--------------------Services Css-----------------*/

.problems-100 .box-col:last-child {
    margin: 0;
}
.problems-100 .box-col img {
    width: 100%;
    height: 300px;
    margin: 0 0 15px 0px;
}

.services-100.problems-100 .problems-col:last-child {
    margin-bottom: 20px;
}


/*-----------------Quick Demo Css-----------------*/
.quick-demo {
    /*background-image: linear-gradient(123deg, #00d8ae, #00b19b 60%, #56f1d3);*/
    padding: 60px 0 0;
}

.quick-detail {
    padding: 10px 0 0;
    width: 100%;
    float: left;
}

.quick-detail .list {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.demo-form, .contact-form {
    border: 1px solid #52E5CC;
    padding: 30px;
    border-radius: 14px;
}

.demo-form input {
    padding: 8px 20px 8px 20px;
}


/*-------------------Contact Page-------------------*/

.heading-32 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.quick-detail img{
    width: 8%;
    float: left;
    margin: 2px 0 0 0;
}

.quick-detail .contact-details {
    width: 89%;
    float: right;
}

.para-16 a {
    color: #464646;
}

.expert-form select {
    background: url(../images/down-arrow.svg) right 22px top 16px no-repeat #ccf7ef;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-size: 4%;
}

.expert-form p {
    width: auto;
    display: inline-block;
    margin: 0 15px 0 0;
}

.expert-form h6 {
    font-weight: 600;
    margin: 0 0 5px 0;
}

.expert-form label {
    font-size: 14px;
    color: #464646;
    margin: 0 0 5px 0;
    font-weight: 600;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #464646;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #00d8ae;
    position: absolute;
    top: 5px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);

}


/*---------------Solution Css--------------*/

.solution-100 {
    padding: 60px 0;
}

.accordion>.card {
    padding: 0;
}

.accordion>.card:first-of-type, .accordion>.card {
    border: none;
    text-align: left;
}


.accordion>.card .card-header {
    border: none;
    padding: 15px 20px;
    color: #fff;
}
.md-accordion .card .card-header {
    background: #52e5cc;        
}
.card-body {
    padding: 15px 20px;
}
.accordion>.card .card-header h5{
    color: #464646;
    font-size: 21px;
    font-weight: 700;
}

.md-accordion .card .fa-angle-down {
    float: right;
    font-size: 22px;
    color: #464646;
    font-weight: 900;
}

.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.collapse-init {
    float: right;
    margin: 30px 0 40px;
    outline: 0;
}

.collapse-init:focus {
    outline: 0;
}

#headingTwo, #headingFour {
    background-color: #ccf7ef;
}

.card-body p {
    font-size: 19px;
    color: #464646;
    line-height: 24px;
    margin: 0 0 10px 0;
}

.number-leaf {
    background: url(../images/key-feature-number-leaf.svg) top left no-repeat;
    width: 12%;
    float: left;
    height: auto;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #464646;
    background-size: 58%;
    padding: 0 0 0 10px;
    margin: 5px 0 0 0;
}


.features-col p, .features-col ul li{
    width: 88%;
    float: right;
    color: #464646;
    font-size: 19px;
    margin: 0;
    line-height: 26px;
}

.features-col img {
    width: 100%;
}

.features-col ul{
    width: 100%;
    margin: 20px 0 0 15px;
    float: left;
}

.features-col li {
    width: 100%;
    padding: 5px 0;
}

.solution-100 .heading-24 {
    margin: 20px 0 0px;
}

.benifits-col {
    margin: 0 -15px 30px;
}

.benifits-col:last-child{
    margin-bottom: 0px;
}

.benifits-icon {
    margin: -2px 0px 0 0;
    width: 15%;
    float: left;
}
.solution-100 h3, .mission-100 h3{
    color: #464646;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    line-height: 38px;
}

.benifits-col h3 {
    width: 78%;
    float: right;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.process-flow {
    width: 100%;
}
 .flow-img {
    border: 2px solid #52E5CC;
    border-radius: 12px;
    padding: 10px;
    position: relative;
}

.flow-img img {
    width: 100%;
}


.process-flow .flow-img::before {   
    position: absolute;
    content: "";
    border-left: 2px solid #52E5CC;
    border-top: 2px solid #52E5CC;
    height: 40px;
    top: -40px;
    width: 20px;
    left: 50%;
    border-radius: 8px 0px 0 0px;
}

.process-flow .flow-img::after {
    position: absolute;
    content: "";
    border-left: 2px solid #52E5CC;
    border-bottom: 2px solid #52E5CC;
    height: 40px;
    bottom: -40px;
    width: 338%;
    left: 50%;
    border-radius: 0 0 0 8px;
}

.process-flow-2 .flow-img::before { 
    position: absolute;
    content: "";
    border-right: 2px solid #52E5CC;
    border-top: 2px solid #52E5CC;
    height: 40px;
    top: -40px;
    width: 20px;
    left: 44%;
    border-radius: 0 8px 0 0px;
}

.process-flow-2 .flow-img::after {
    position: absolute;
    content: "";
    border-right: 2px solid #52E5CC;
    border-bottom: 2px solid #52E5CC;
    height: 40px;
    bottom: -40px;
    width: 338%;
    right: 50%;
    border-radius: 0 0px 8px 0px;
}


.process-start {
    margin: 0 0 74px 0;
}

.process-start:last-child {
    margin: 0px;
}

.process-start .features-col { 
    padding: 8px 15px 0;
    display: flex;
    align-items: center;
}

.process-start .features-col .number-leaf{
    width: 5%;
    background-size: 59%;
    margin: -19px 0 0 0;
}

.process-start .features-col p {
    width: 95%;
    padding: 0px 0 0 0;
    font-size: 19px;
    margin: 0;
    line-height: 28px;
    color: #464646;
}

.process-col .process-start:nth-of-type(2) .flow-img::before {
    display: none;
}


.process-flow-2:last-child .flow-img::after {
    display: none;
}


.use-cases .features-col {
    margin: 30px -15px;
}

.use-cases .number-leaf {
    width: 7%;
    background-size: 69%;
}

.use-cases .features-col p{
    width: 92%;
}

.ai-business {
    border-radius: 12px;
    border: 1px solid #52E5CC;
    padding: 25px;
    min-height: 157px;
}

.ai-business h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    margin: 0 0 15px 0;
}

.ai-business p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}


/*-------------Careers Css--------------- */
.career-value {
    padding: 0px 0 0px;
}

.career-value #tabs{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#tabs:before {
    content: "";
    position: absolute;
    top: 0%;
    height: 3px;
    width: 76%;
    background-color: #00D8AE;
    margin: 22px 0 0 0;
    z-index: -1;
    left: 12%;
}

#tabs nav {
    width: 50%;
    margin: 0 auto;
    border: medium none;
    border-radius: 39px;
    -webkit-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 10px grey;
    margin: 0 auto 40px;
    max-width: 380px;
    padding: 15px 24px;
    background: #ffffff;
}

.nav-tabs {
    border: 0px;
}

.career-value #tabs h6.section-title{
    color: #eee;
}

.career-value #tabs .nav-tabs .nav-link {
    color: #464646;
    font-size: 16px;
    padding: 0px!important;
    border: 0px;
    border-radius: 0;
    line-height: 16px;
    border-right: 2px solid #000000;
    font-weight: 600;
}

.career-value #tabs .nav-tabs .nav-link:last-child {
    border-right: transparent;
}
.career-value #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #00D8AE!important;
    font-size: 20px;
    font-weight: 700!important;
}

.career-value #tabs .nav-tabs .nav-link:after {
    display: none;
}
.career-value-circle {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 10px grey;
    border-radius: 100%;
    margin: 0 auto;
}
.career-value-circle img {
    width: 73%;
}

.values-detail {
    width: 100%;
    float: left;
    margin: 0 0 60px 0;
}

.values-detail h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 10px;
    color: #464646;
}

.values-detail p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

.opportunities-100 h1{
    font-size: 38px;
    line-height: 48px;
    color: #464646;
    font-weight: 700;
}

.image-overlay img {
    width: 100%;
    position: relative;
    height: 190px;
}

.overlay-text {
    position: absolute;
    top: 0;
    color: #fff;
    padding: 15px 0 0 15px;
    z-index: 999;
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    height: 100%;
    font-size: 19px;
    font-weight: 700;
}

.image-overlay img:hover {
    transform: translate3d(-40px, 0px, 0px);
}

.card-body h3 {
    font-size: 19px;
    font-weight: 700;
    margin: 0;
    text-align: left;
}

.card-body .job-deatils ul {
    margin: 10px 20px 20px;
    width: 100%;
}

 .card-body .job-deatils ul li {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    color: #464646;
 }

.job-deatils p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #464646;
    margin: 10px 0 20px 0;
}
.input-box {
    width: 100%;
    float: left;
}
.job-deatils .learn-more-link {
    margin-left: 7px;
}

/*-----------------Case Study Css--------------*/
.case-study-col, .blog-100 {
    z-index: 99999;
    position: relative;
    padding: 60px 0 0;
    background-color: #fff;
}

.case-study-col .col-lgv-4 {
    margin-bottom: 70px;
}

.case-box {
    background-color: #fff;
    padding: 20px 20px 28px;
    border-radius: 24px;
    box-shadow: 0px 3px 18px #0000001F;
    width: 100%;
    margin: 0 auto;

}

.case-col {
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-col img {
    width: 75%;
}

.case-heading {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analytics-col {
    border: 1px solid #00D8AE;
    border-radius: 12px;
    padding: 22px 15px;
}
.analytics-col img {
    width: 80%;
    margin: 0 auto;
}
.case-detail-100 .ai-business {
    min-height: 96px;
    display: flex;
    align-items: center;
}

.case-study-col .services-stdy-img {
    height: 200px;
}


/*-------------Blog Page Css--------------*/
.blog-100 {
    padding: 0;
    background-color: #3e7677;
}

.blog-100 .btn-primary {
    color: #fff;
    background-color: #3e7677;
    border-color: #3e7677;
    width: 100%;
    text-align: left;
    padding: 18px 19px 18px 15px;
    border-radius: 0;
}

.blog-100 .btn-primary:hover {
    background-color: #fff;
    color: #464646;
    box-shadow: 0px 5px 18px #00000014;
    border: 1px solid transparent;
}

.blog-100 .dropdown-toggle::after {
    right: 15px;
    top: 29px;
    position: absolute;
    display: inline-block;
    margin-left: 0em; 
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.blog-100 .dropdown-menu {
    min-width: 1080px;
    color: #464646;
    box-shadow: 0px 5px 18px #00000014;
    text-align: left;
    border: 0;
    border-radius: .25rem;
}

.blog-100 input {
    border: none;
    border-left: 1px solid #fff;
    background: transparent;
    padding: 21px 15px 22px 43px;
    color: #fff;
    width: 100%;
    line-height: 0px;
}

.blog-100 input:focus {
    outline: 0;
}

.blog-100 button:focus {
    outline: 0;
}

.blog-100 ::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

.blog-100 :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.blog-100 ::placeholder {
  color: #fff;
}

.filters-group:before {
    content: "\f002";
    position: absolute;
    font-family: 'fontAwesome';
    color: #fff;
    font-size: 19px;
    margin: 18px 0 0 15px;
}

.blog-100 button.btn-primary:focus {
    box-shadow: none;
    background: #fff;
    color: #464646;
}

.blog-second-wrapper {
    padding: 60px 0 0;
}

.blog-detail-wrapper {
    padding: 60px 0 30px;
    background-color: #fff;
    z-index: 99999;
    position: relative;
}

.card {
    border: 0;
}

.card-body {
    padding: 18px 0px;
}

.card-title {
    line-height: 34px;
    font-size: 26px;
    font-weight: 700;
    color: #464646;
    margin: 0 0 10px 0;
}

.card-body p {
    font-size: 19px;
    line-height: 28px;
    color: #464646;
}

.post-data-text, .post-data-text a {
    font-size: 15px;
    color: #afafaf;
    font-weight: 400;
    margin: 0 0 8px 0;
}

.blog-card {
        margin: 3px 15px 30px 15px;
    -webkit-box-shadow: 0 0px 3px 1px rgba(0,0,0,.2);
    box-shadow: 0 0px 3px 1px rgba(0,0,0,.2);   
}

.read-blog {
    float: right;
    color: #464646;
}

.recent-post {
    width: 100%;
    float: left;
    margin: 0 0 20px 0;
}
.recent-post h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #afafaf;
}

.recent-post ul {
    list-style: none;
}

.recent-post ul li {
    -webkit-box-shadow: 0 0px 3px 1px rgba(0,0,0,.2);
    box-shadow: 0 0px 3px 1px rgba(0,0,0,.2);
    padding: 8px 20px;
    margin: 20px 0;
}

.recent-post ul li a {
    color: #464646;
    font-size: 16px;

}

.form-inline .form-control {
    width: 66%;
    padding: 8px 20px 8px 42px;
    border-radius: 0;
}

.form-inline .form-control:focus {
    outline: 0;
    box-shadow: none;
    background: #ccf7ef;
}

.subscribe-btn {
    color: #464646;
    padding: 9px 27px!important;
    background: #00D8AE;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.16px;
}

.expert-form.form-inline .form-group img {
    margin: -4px 0px 0 10px;
    width: 6%;
}

.blog-details, .leave-reply {
    -webkit-box-shadow: 0 0px 3px 1px rgba(0,0,0,.2);
    box-shadow: 0 0px 3px 1px rgba(0,0,0,.2);   
}

.blog-100 .dropdown-menu li {
    width: 25%;
    float: left;
}

.blog-details .card-body {
    padding: 20px 30px;
}

.leave-reply {
    margin: 20px 0 0 0;
    padding: 30px;
}

.problem-col {
    height: 80px;
}

.problems-col .col-sm-6{
    margin : 0 0 70px 0;
}

ul.filter_box {
    list-style: none;
}

/*-----------------About Us Css------------------*/

.core-values img {
    width: 13%;
    float: left;
}

.core-values h4 {
    margin: 0 0 5px 0;
}

.core-values p, .mission-100 p {
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

.core-details {
    width: 82%;
    float: right;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.customer-100 {
    background: url(https://mintworxs.azurewebsites.net/media/4c2nsx1t/client-banner.jpg) top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.customer-overlay {
    background: rgba(0,0,0,.7);
    padding: 50px 0;
    margin: 20px 0 0 0;
}

.customer-100 h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.customer-100 img {
    width: 100%;
}

.mission-100 {
    padding: 90px 0;
}

    .mission-100 p {
        margin: 15px 0;
        line-height: 25px;
    }

#vission-accordion .card {
    margin-top: 10px;
}

#vission-accordion .card-header {
    background: #00d8ae;
    border-radius: 5px;
    padding: 12px 26px;
    margin: 0px 0 10px 0;
}

#vission-accordion.accordion .collapse {
    padding: 0px;
}

#vission-accordion.accordion .card-body {
    background: #ccf7ef;
    padding: 2px 26px;
}


#vission-accordion .card .card-header a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#vission-accordion .card .fa-angle-right {
    float: right;
    font-size: 22px;
    color: #464646;
    font-weight: 900;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.mission-100 img {
    width: 100%;
    margin: 55px 0 0 20px;
}

.clients-thought {
    background: url(https://mintworxs.azurewebsites.net/media/22el4ckr/clients-thought-banner.jpg) top center no-repeat;
    width: 100%;
    height: 100%;
    background-position: 56% 47%;
    background-size: 249%;
}

.clients-thought .people-box-col {
    margin-bottom: 20px;
    background-color: transparent;
    box-shadow: none;
    max-width: 762px;
    padding: 0px 0px 0px 0px;
}

.clients-thought .people-box-col:after {
    display: none;
}

.clients-thoughts-col p {
    color: #fff;
    font-size: 17px;
}

.clients-thoughts-col img.user-img {
    width: 160px !important;
}

.clients-thoughts-col .col-lg-9 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img.user-img {
    border: 4px solid #00D8AE;
    border-radius: 90%;
    width: 160px;
    height: 160px;
}

.user-name {
    font-size: 24px;
    color: #464646;
    font-weight: 600;
}

.designation {
    font-weight: 400;
    font-style: italic;
    font-size: 19px;
    padding: 0 0 0 10px;
}

.ai-business-100 {
    padding: 60px 0 0 0;
}

.inner-case-stdy {
    background-color: #52e5cc;
    padding: 30px 0;
    margin: 60px 0 0;
}
.inner-case-stdy .learn-more-link {
    margin-top: 10px;
}

.services-card-body.card-body {
    padding: 0px;
}
.services-card-body.card-body p {
    margin-bottom: 25px;
}
.services-card-body h2 {
    font-weight: 600;
}
.capability-100 {
    padding-bottom: 0px;
}
.services-stdy-img {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-stdy-img img {
    width: 100%!important;
    height: auto!important;
    margin: 0px;
}

.inner-case-stdy .heading-20 {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}
.features-para p {
    font-size: 19px;
    line-height: 28px;
    color: #464646;
    margin: 25px 0 30px!important;
    width: 100%!important;
}
.key-benefits-col {
    padding: 0px;
}
.opportunities-100 {
    padding: 0px;
}
.card-body .job-deatils h3 {
    font-weight: 600;
}
.case-study-col .box-col {
    margin: 0 auto 70px;
}
 
.recomendation ul, .recomendation ol {
    padding: 0 0 0 20px;
}
.recomendation li {
    font-size: 16px;
    line-height: 28px;
    padding: 10px 0 15px;
}