.inner-banner {
	background-color: #52E5CC;
	height: 260px;
}

.banner-left {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.banner-right {
	padding: 22px 15px 0;
}
.inner-banner-heading {
	font-size: 36px;
	color: #000;
	font-weight: 900;
	margin: 0 0 10px 0;
}

.inner-banner p {
	font-size: 20px;
	color: #000;
	font-weight: 400;
	line-height: 24px;
}

.business-banner img {
	margin: 0 0 -55px 0;
	position: relative;
	z-index: 1;
}

/*--------------------Business Problems Css---------------------*/
.problems-100 {
	padding: 60px 0 0 0;
	background: #fff;
    z-index: 99999;
    position: relative;
}

.problems-col {
	margin: 0 -15px 70px;
}

.problems-100 .box-col {
	width: 100%;
	padding: 10px 20px 42px;
}

.heading-20 {
	font-size: 18px;
	color: #000;
	line-height: 22px;
	font-weight: 700;
	margin: 0 0 10px 0;
}
.para-16 {
	font-size: 16px;
	color: #000;
	line-height: 20px;
	margin: 0 0 15px 0;
}

/*---------------Business Submenu Page Css-----------------*/
.heading-24 {
	font-size: 24px;
	font-weight: 900;
	line-height: 24px;
	color: #000;
}

ul.struggling-list {
    list-style: disc!important;
    padding: 0 0 0 20px;
}

.struggling-list li{
	font-size: 16px;
	line-height: 20px;
	padding: 10px 0 15px;
}

.recomendation {
	margin: 60px -15px;
}

.recomendation-right {
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 320px;
}

.recomendation-right img {
	width: 38%;	
}

.our-experts {
	margin: 0 0 40px;
}

.our-experts .people-box-col {
	width: 100%;
	max-width: 100%;
	margin: 0;
}
.our-experts .people-box-col::after {
	display: none;
}

.expert-user-header a {
	display: inline-block;
	margin: 0 0 0 15px;
}

.expert-user-header a img {
	margin: -10px 0 0 0px;
}

.our-experts .learn-more-link:hover {
	color: #000!important;
}

.minutes-link {
	float: right;
	color: #000;
	font-size: 16px;
	text-decoration: underline!important;
	font-weight: 700;
	cursor: pointer;
}

.struggling-100 {
	z-index: 1
}

.modal-open, .pop-up-modal {
	padding-right: 0!important;
}
.pop-up-modal .modal-dialog {
    max-width: 450px;
    margin: 60px auto 0;
}
.pop-up-modal .modal-content {
	padding: 20px 7px 0;
    border-radius: 21px;
}
.pop-up-modal .modal-header {
    border: 0;
    padding: 0;
}
.pop-up-modal .modal-header .close {
    padding: 3px 8px;
    margin: -34px -20px -16px auto;
    background: #fff;
    border-radius: 29px;
    opacity: 1;
    border: 2px solid #000;
    color: #000;
    font-weight: 900;
}
legend {
	font-size: 22px;
    color: #000;
    line-height: 23px;
    font-weight: 900;
    margin: 0px 0 18px 0;
}

/*--------------------Services Css-----------------*/
.services-100.problems-100 .box-col {
	padding: 10px 20px 20px;
}

.services-100.problems-100 .box-col:last-child {
	margin: 0;
}

.services-100.problems-100 .problems-col:last-child {
	margin-bottom: 20px;
}


/*-----------------Quick Demo Css-----------------*/
.quick-demo {
	/*background-image: linear-gradient(123deg, #00d8ae, #00b19b 60%, #56f1d3);*/
    padding: 60px 0 0;
}

.quick-detail {
	padding: 10px 0 0;
    width: 100%;
    float: left;
}

.quick-detail .list {
	font-size: 16px;
	font-weight: 700;
}

.demo-form, .contact-form {
	border: 1px solid #52E5CC;
	padding: 30px;
	border-radius: 14px;
}

.demo-form input {
	padding: 8px 20px 8px 20px;
}


/*-------------------Contact Page-------------------*/

.heading-32 {
	font-size: 32px;
	line-height: 36px;
	font-weight: 900;
	margin: 0 0 20px 0;
}

.quick-detail img{
	width: 8%;
    float: left;
    margin: 2px 0 0 0;
}

.quick-detail .contact-details {
	width: 89%;
	float: right;
}

.para-16 a {
	color: #000;
}

.expert-form select {
	background: url(../images/down-arrow.svg) right 22px top 16px no-repeat #ccf7ef;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-size: 4%;
}

.expert-form p {
	width: auto;
	display: inline-block;
	margin: 0 15px 0 0;
}

.expert-form h6 {
	font-weight: 700;
	margin: 0 0 5px 0;
}

.expert-form label {
	font-size: 14px;
	color: #000;
    margin: 0 0 5px 0;
    font-weight: 700;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
   	background: #00d8ae;
    position: absolute;
    top: 5px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);

}


/*---------------Solution Css--------------*/

.solution-100 {
	padding: 60px 0;
}

.accordion>.card {
    padding: 0;
}

.accordion>.card:first-of-type, .accordion>.card {
    border: none;
    text-align: left;
}


.accordion>.card .card-header {
    border: none;
    padding: 15px 20px;
    color: #fff;
}
.md-accordion .card .card-header {
	background: #52e5cc;		
}
.card-body {
	padding: 15px 20px;
}
.accordion>.card .card-header h5{
    color: #000;
    font-size: 22px;
    font-weight: 900;
}

.md-accordion .card .fa-angle-down {
    float: right;
    font-size: 22px;
    color: #000;
    font-weight: 900;
}

.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.collapse-init {
	float: right;
	margin: 30px 0 40px;
	outline: 0;
}

.collapse-init:focus {
	outline: 0;
}

#headingTwo, #headingFour {
	background-color: #ccf7ef;
}

.card-body p {
	font-size: 18px;
	color: #000;
	line-height: 24px;
	margin: 0 0 10px 0;
}

.solution-100 h3 {
    font-size: 26px;
}

.solution-100 p {
	font-size: 19px;
}
.number-leaf {
	background: url(../images/key-feature-number-leaf.svg) top left no-repeat;
	width: 12%;
    float: left;
    height: auto;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #000;
    background-size: 62%;
    padding: 0 0 0 8px;
}


.features-col p, .features-col ul li{
	width: 88%;
	float: right;
	color: #000;
	font-size: 16px;
	margin: 0;
	line-height: 20px;
}

.features-col img {
	width: 100%;
}

.features-col ul{
	width: 100%;
	margin: 20px 0 0 15px;
	float: left;
}

.features-col li {
	width: 100%;
}

.solution-100 .heading-24 {
	margin: 20px 0 0px;
}

.benifits-col {
	margin: 0 -15px 30px;
}

.benifits-col:last-child{
	margin-bottom: 0px;
}

.benifits-icon {
	margin: -2px 0px 0 0;
    width: 15%;
    float: left;
}

.benifits-col h3 {
	width: 78%;
	float: right;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	text-align: left;
}

.process-flow {
	width: 100%;
}
 .flow-img {
	border: 2px solid #52E5CC;
	border-radius: 12px;
	padding: 10px;
	position: relative;
}

.flow-img img {
	width: 100%;
}


.process-flow .flow-img::before {	
    position: absolute;
    content: "";
    border-left: 2px solid #52E5CC;
    border-top: 2px solid #52E5CC;
    height: 40px;
    top: -40px;
    width: 20px;
    left: 50%;
    border-radius: 8px 0px 0 0px;
}

.process-flow .flow-img::after {
	position: absolute;
    content: "";
    border-left: 2px solid #52E5CC;
    border-bottom: 2px solid #52E5CC;
    height: 40px;
    bottom: -40px;
    width: 340%;
    left: 50%;
    border-radius: 0 0 0 8px;
}

.process-flow-2 .flow-img::before {	
    position: absolute;
    content: "";
    border-right: 2px solid #52E5CC;
    border-top: 2px solid #52E5CC;
    height: 40px;
    top: -40px;
    width: 20px;
    left: 44%;
    border-radius: 0 8px 0 0px;
}

.process-flow-2 .flow-img::after {
	position: absolute;
    content: "";
    border-right: 2px solid #52E5CC;
    border-bottom: 2px solid #52E5CC;
    height: 40px;
    bottom: -40px;
    width: 340%;
    right: 50%;
    border-radius: 0 0px 8px 0px;
}


.process-start {
	margin: 0 0 74px 0;
}

.process-start .features-col { 
	padding: 90px 15px 0;
}

.process-start .features-col .number-leaf{
	width: 5%;
    background-size: 63%;
}

.process-start .features-col p {
    width: 95%;
   	padding: 0px 0 0 0;
   	font-size: 18px;
    margin: 0;
    line-height: 23px;
}

.process-col .process-start:nth-of-type(2) .flow-img::before {
	display: none;
}


.process-flow-2:last-child .flow-img::after {
	display: none;
}


.use-cases .features-col {
	margin: 30px -15px;
}

.use-cases .number-leaf {
    width: 7%;
    background-size: 69%;
}

.use-cases .features-col p{
    width: 92%;
}

.ai-business {
	border-radius: 12px;
	border: 1px solid #52E5CC;
	padding: 25px;
	min-height: 157px;
}

.ai-business h2 {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	margin: 0 0 15px 0;
}

.ai-business p {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin: 0;
}


/*-------------Careers Css--------------- */
.career-value {
	padding: 0px 0 0px;
}

.career-value #tabs{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#tabs:before {
	content: "";
    position: absolute;
    top: 0%;
    height: 3px;
    width: 76%;
    background-color: #00D8AE;
    margin: 22px 0 0 0;
    z-index: -1;
    left: 12%;
}

#tabs nav {
    width: 50%;
    margin: 0 auto;
    border: medium none;
    border-radius: 39px;
    -webkit-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 10px grey;
    margin: 0 auto 40px;
    max-width: 380px;
    padding: 15px 24px;
    background: #ffffff;
}

.nav-tabs {
	border: 0px;
}

.career-value #tabs h6.section-title{
    color: #eee;
}

.career-value #tabs .nav-tabs .nav-link {
    color: #000;
    font-size: 16px;
    padding: 0px!important;
    border: 0px;
    border-radius: 0;
    line-height: 16px;
}

.career-value #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #00D8AE!important;
    font-size: 20px;
    font-weight: bold;
}

.career-value #tabs .nav-tabs .nav-link:nth-child(2) {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

.career-value #tabs .nav-tabs .nav-link:after {
	display: none;
}
.career-value-circle {
	width: 130px;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 10px grey;
    border-radius: 100%;
    margin: 0 auto;
}
.career-value-circle img {
	width: 73%;
}

.values-detail {
	width: 100%;
	float: left;
	margin: 0 0 60px 0;
}

.values-detail h3 {
	font-size: 18px;
    font-weight: 900;
    margin: 20px 0 10px;
}

.values-detail p {
	font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
}

.opportunities-100 h1{
    font-size: 38px;
    line-height: 56px;
    color: #000;
    font-weight: 900;
}

.image-overlay img {
    width: 100%;
    position: relative;
    height: 190px;
}

.overlay-text {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0 0 15px;
    z-index: 999;
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    height: 100%;
}

.image-overlay img:hover {
    transform: translate3d(-40px, 0px, 0px);
}

.card-body h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    text-align: left;
}

.card-body ul.responsibilities-list {
    margin: 10px 20px 20px;
    width: 100%;
}

.job-deatils {
    margin: 10px 0;
}

.job-deatils p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin: 10px 0 20px 0;
}

.input-box {
    width: 100%;
    float: left;
}








