@media (min-width: 992px), (min-width: 768px), (min-width: 576px) {
	.container {
		max-width: 1110px!important;
	}
}

@media (max-width: 1280px) {
	.card-body {
	    padding: 7px 0px 0;
	}
}

@media (max-width: 1024px) {

	/*Home Page Responsive Css*/
	.box-link {
		margin: -30px 0 0 150px;
	}
	.box-col {
		width: 100%;
	}
	img.quote {
    	margin: -78px 0 0 -57px;
    }
    .people-box-col:after, .thoughts-col:after, .align-right .quote, .align-right:after {
    	right: 2px;
    }
    .align-right:after {
    	left: 2px;
    }
    .number-leaf {
	    width: 13%;
	    background-size: 60%;
	    padding: 0 0 0 7px;
	}
	.features-col p, .features-col ul li {
	    width: 86%;
	}
	.case-study-col .box-link {
	    margin: -30px 0 0 65px;
	}
	.form-inline .form-control {
    	width: 63%;
    }
    .card-title {
    	line-height: 28px;
    	font-size: 20px;
    }

    .card-body p {
	    font-size: 15px;
	    line-height: 19px;
	}
	.blog-100 .dropdown-menu {
		min-width: 994px;
	}

}

@media (max-width: 991px) { 
	.navbar-nav .dropdown-menu {
	    width: 100%;
	    max-width: 100%;
	    text-align: center;
	    padding: 0;
	    background-color: transparent;
	    box-shadow: none;
	}
	.dropdown-item:hover:after {
		display: none;
	}
	.navbar-collapse {
		background-image: linear-gradient(123deg, #0072bc, #00b19b 77%, #00bb50);
		margin: 15px 0 0 0;
		z-index: 999999;
	}

	a.nav-link:hover::after, .active::after {
		width: 100%;
	}

	.navbar-brand, .navbar-toggler {
		padding: 0 15px;
	}
	.navbar-nav {
		margin: 10px 0 20px 0;
	}
	li.nav-item {
	    padding: 4px 0px;
	    text-align: center;
	}
	li.nav-item a {
		display: inline-block;
		color: #fff;
	}
	.infographic-img {
		width: 100%;
	}
	.box-col img{
		width: 100%;
	}
	.banner-100 {
	    margin: 65px 0 50px;
	}
	.banner-heading {
    	font-size: 38px;
    }
    .box-link {
	    margin: -30px 0 0 82px;
	}
	.box-sol-para {
    	font-size: 16px;
    }
    .thoughts-col {
    	padding: 30px 15px;
    }
    .thoughts-col p {
    	text-align: justify;
    }
    .thoughts-col:after {
	    bottom: 82%;
	}
	.social-media {
		margin: 0 0 20px 0;
	}
	footer {
		padding: 60px 0 30px 0;
	}
	.thoughts-col .user-name {
		text-align: center;
	}
	.inner-banner img {
		width: 100%;
		margin: 0;
	}
	.inner-banner {
		height: auto;
	}
	.recomendation {
		display: flex;
		flex-direction: column-reverse;
	}
	.recomendation-right {
		margin: 0 0 20px 0;
	}
	.recomendation-right img {
	    width: 24%;
	}
	.quick-detail img {
	    width: 4%;
	}
	.quick-detail .contact-details {
   		width: 93%;
   	}
   	.contact-form {
   		margin: 20px 0 0 0;
   	}
   	.heading-32 {
    	font-size: 28px;
    }
    .quick-demo {
	    padding: 40px 0 0;
	}
	.demo-form, .contact-form {
    	padding: 30px 15px;
    }
    .expert-form select {
	    background-size: 2%;
	}
	.aiml-services .number-leaf {
	    width: 10%;
	    background-size: 57%;
	}
	.aiml-services .features-col p {
	    width: 90%;
	}

	.number-leaf {
	    width: 12%;
	}

	.process-start .features-col .number-leaf {
	    width: 6%;
	    background-size: 63%;
	}
	.process-start .features-col p {
	    width: 94%;
	}
	.process-flow .flow-img::after, .process-flow-2 .flow-img::after {
		width: 346%;
	}
	.process-start .features-col {
	    padding: 60px 15px 0;
	}
	.card-body {
	    padding: 20px 0px;
	}
	.analytics-col {
		padding: 15px;
	}
	.analytics-col img{
		width: 100%;
	}
	.case-study-col .box-link {
	    margin: -30px 0 0 140px;
	}
	.blog-100 .dropdown-menu {
	    min-width: 100%;
	    height: 232px;
	    overflow-y: scroll;
	}
	.blog-100 .dropdown-menu li {
	    width: 50%;
	}
	.recent-post-col {
		margin: 30px 0 0 0;
	}
	.expert-form.form-inline .form-group img {
		width: auto;
	}
	.form-inline.expert-form .form-group {
		margin: 0;
	}
	.recent-post:last-child {
		margin: 0;
	}
}

@media(max-width: 768px) {
	.aiml-services .number-leaf {
    	width: 12%;
    }
	.aiml-services .features-col p {
	    width: 88%;
	}
	.process-start .features-col {
	    padding: 24px 15px 0;
	}
	.process-start .features-col .number-leaf {
	    width: 7%;
	}
	.process-start .features-col p {
		width: 93%;
	}
	.process-flow .flow-img::after, .process-flow-2 .flow-img::after {
	    width: 361%;
	}
	.process-flow-2 .flow-img::before {
    	left: 40%;
    }
    .process-flow-2 .flow-img::after {
    	right: 47%;
    }
    .use-cases .number-leaf {
	    width: 10%;
	}
    .use-cases .features-col p {
	    width: 89%;
	}
	.ai-business {
    	padding: 14px;
    }
    #tabs:before {
    	width: 100%;
    	left: 0;
    }
    .opportunities-100 {
    	padding: 0 0 20px!important;
    }
    .opportunities-100 .col-md-4 {
    	padding: 0 15px!important;
    }
    .opportunities-100 h1 {
    	margin: 0 0 20px 0;
    }
    .overlay-text {
	    width: 88.3%;
    	height: 92%;
	}
	.image-overlay img {
	    height: 170px;
	    margin: 0 0 15px;
	}
	.case-study-col .box-link {
	    margin: -30px 0 0 80px;
	}

}

@media (max-width: 767px) {
	.navbar-toggler {
    	width: 9%;
    }
    .home-banner-100 .banner-heading {
	    font-size: 30px;
	}
	.box-link {
	    margin: -30px 0 0 58px;
	}
	.people-box-col {
		text-align: center;
	}
	img.quote {
	    margin: -78px 0 0 -321px;
	}
	.user-img {
		margin: 0 0 20px 0;
	}
	.thoughts-col {
		margin: 100px 0 0px 0;
	}
	.thoughts-100 .col-md-6:first-child .thoughts-col {
		margin: 50px 0 0px 0!important;
	}
	.inner-banner {
		height: auto;
		text-align: center;
	}
	.inner-banner .row {
		display: flex;
		flex-direction: column-reverse;
	}
	.banner-left {
    	margin: 30px 0 40px;
    }
    .banner-right {
    	text-align: center!important;
    }
    .inner-banner img {
    	width: 80%;
    }
    .expert-user-header .col-md-6 {
    	text-align: center!important;
    	padding: 0!important
    }
    .expert-user-header a img {
		margin: 15px 0 20px 0px;
	}
	.number-leaf {
	    width: 5%;
	    background-size: 81%;
	}
	.features-col p, .features-col ul li {
	    width: 92%;
	}
	.accordion>.card .card-header h5 {
    	font-size: 18px;
    }
    .card-body p {
    	font-size: 16px;
    }
    .benifits-icon {
    	width: 9%;
    }
    .benifits-col h3 {
    	width: 88%;
    }
    .solution-100 h3 {
    	font-size: 26px;
    }
    .solution-100 .heading-24 {
    	font-size: 20px;
    }
    .solution-100 p {
	    font-size: 16px;
	    margin-bottom: 30px;
	    text-align: justify;
	}
	.benifits-col h3 {
    	font-size: 16px;
    }
    .process-flow .flow-img::after, .process-flow-2 .flow-img::after,
    .process-flow .flow-img::before, .process-flow-2 .flow-img::before {
	    display: none;
	}
	.aiml-services .number-leaf {
	    width: 7%;
	}
	.aiml-services .features-col p {
	    width: 93%;
	    margin: 0;
	    font-size: 16px;
	}
	.flow-img {
		text-align: center;
	}
	.flow-img img {
	    width: 48%;
	}
	.process-start .features-col .number-leaf {
    	width: 6%;
	}
	.process-flow-2 {
		flex-direction: column-reverse;
	}
	.process-start {
	    margin: 0 0 40px 0;
	}
	.process-start .features-col {
	    padding: 15px 15px 0;
	}
	.use-cases .number-leaf {
	    width: 6%;
	}
	.use-cases .features-col p {
	    width: 93%;
	}
	.use-cases .features-col {
	    margin: 0px -15px 0;
	}
	section.solution-100.use-cases.pt-0.pb-0 {
	    padding: 40px 0 0!important;
	}
	.ai-business {
	    min-height: auto;
	    padding: 20px 15px;
	}
	.ai-business p {
		margin: 0;
	}
	.ai-business-100 {
		padding-bottom: 0;
	}
	.card-body h3 { 
		font-size: 18px;
	}
	.card-body .job-deatils ul {
		text-align: justify;
	}
	.image-overlay img {
	    height: 300px;
	}
	.overlay-text {
	    width: 95.4%;
	    height: 95%;
	}
	.card-body .features-col .mb-5, .case-detail-100  .features-col .mb-4 {
		margin-bottom: 0!important; 
	}
	.case-detail-100 .features-col .col-12.mb-4 {
		margin-bottom: 20px!important; 
	}
	.case-study-col .box-link {
	    margin: -30px 0 0 56px;
	}
	.blog-card .col-md-5 {
		padding: 0!important;
	}
	.card-body {
	    padding: 20px 0px 20px 15px;
	}
	.blog-detail-wrapper {
		padding-bottom: 0;
	}
	.blog-details .card-body, .leave-reply {
		padding: 20px 15px;
	}
}


@media (max-width: 575px) {
	
    .problems-col {
	    margin: 0 -15px;
	}

	.recomendation-right img {
	    width: 60%;
	}

	.number-leaf {
	    width: 7%;
	    background-size: 69%;
	}
	#tabs nav {
	    width: 62%;
	}
	.overlay-text {
    	width: 94.5%;
    }
    .card-body .job-deatils ul {
	    width: 93%;
	}
	.pop-up-modal .modal-dialog {
	    max-width: 450px;
	    margin: 70px 20px;
	}
	.case-detail-100 {
		padding: 30px 0;
	}
	.case-detail-100 .benifits-col {
		margin-bottom: 0!important;
	}
	.case-study-col .box-link {
	    margin: -30px 0 0 165px;
	}
	.form-inline .form-control {
	    width: auto;
	    display: inline-block;
	}
	.expert-form.form-inline .form-group img {
		margin: 8px 0px 0 10px;
	}
	.subscribe-btn {
		margin: 5px 0;
	}

}

@media (max-width: 450px) {
	
	.navbar-toggler {
    	width: 14%;
    }
    .home-banner-100 .banner-heading {
	    font-size: 27px;
	    line-height: 50px;
	}
	.banner-100 {
	    margin: 50px 0 65px;
	}
	.box-solution {
		font-size: 26px;
	}
	.box-col {
		margin: 0 0 50px;
	}
	.box-link {
	    margin: -78px 0 0 108px;
	}
	.out-solution {
    	padding: 80px 0 30px;
    }
    .people-box-col {
    	margin: 25px auto 80px;
    	padding: 43px 20px 43px 20px;
    }
    img.quote {
	    margin: -78px 0 0 -206px;
	}
	.thoughts-100 .col-md-6:last-child .thoughts-col:after {
		bottom: 74%;
	}
	.happy-people-col {
	    margin: 50px 0 0px;
	}
	.inner-banner-heading {
    	font-size: 30px;
    }
    .inner-banner-para {
    	font-size: 17px;
    }
    .quick-detail img {
	    width: 6%;
	}
	.quick-detail .contact-details {
   		width: 91%;
   	}
   	.number-leaf {
    	width: 9%;
    	background-size: 67%;
    }
    .features-col p, .features-col ul li {
	    width: 89%;
	}
	.aiml-services .number-leaf {
	    width: 10%;
	}
	.aiml-services .features-col p {
    	width: 90%;
    }
    .process-start .features-col .number-leaf {
	    width: 9%;
	}
	.use-cases .number-leaf {
	    width: 8%;
	    background-size: 76%;
	}
	.use-cases .features-col p {
	    width: 91%;
	}
	.overlay-text {
	    width: 93.5%;
	}
	.hiring-process-100 {
		padding: 30px 0 60px;
	}
	.case-study-col .box-link {
	    margin: -30px 0 0 119px;
	}
	.subscribe-btn {
	    margin: 1px 0;
	}
	.blog-100 .dropdown-menu li {
	    width: 100%;
	}

}


@media (max-width: 420px) {
	.number-leaf {
	    width: 10%;
	    background-size: 65%;
	}
	.features-col p, .features-col ul li {
	    width: 88%;
	}
	.aiml-services .number-leaf {
	    width: 11%;
	}
	.aiml-services .features-col p {
	    width: 89%;
	}
	.process-start .features-col .number-leaf {
		background-size: 73%;
	}
	.flow-img img {
    	width: 80%;
    }
    #tabs nav {
	    width: 77%;
	}
	.overlay-text {
    width: 93%;
	}
	.image-overlay img {
	    height: 250px;
	}
	.case-study-col .box-link {
	    margin: -30px 0 0 100px;
	}
}



@media (max-width: 375px) {
	.navbar-toggler {
	    width: 15%;
	}
	.home-banner-100 .banner-heading {
	    font-size: 25px;
	}
	.box-link {
	    margin: -78px 0 0 80px;
	}
	img.quote {
	    margin: -78px 0 0 -188px;
	}
	.box-solution {
	    font-size: 26px;
	    line-height: 36px;
	}
	.inner-banner img {
	    width: 100%;
	}
	.heading-32 {
	    font-size: 24px;
	}
	.expert-form select {
	    background-size: 3%;
	}
	.expert-form p {
	    margin: 5px 0;
	    width: 100%;
	}
	.accordion>.card .card-header h5 {
	    font-size: 16px;
	}
	.solution-100 h3 {
	    font-size: 24px;
	}
	.number-leaf {
	    width: 11%;
	}
	.benifits-col h3 {
		font-size: 16px;
	}
	.aiml-services .number-leaf {
	    width: 13%;
	}
	.aiml-services .features-col p {
	    width: 87%;
	}
	.process-start .features-col .number-leaf {
	    background-size: 81%;
	}
	.use-cases .number-leaf {
	    width: 9%;
	    background-size: 80%;
	}
	.use-cases .features-col p {
	    width: 89%;
	}
	#tabs nav {
	    width: 85%;
	}
	.card-body h3 {
	    font-size: 16px;
	}
	.overlay-text {
	    width: 92%;
	}
	.case-study-col .box-link {
	    margin: -30px 0 0 79px;
	}

}

@media (max-width: 350px) {
	.navbar-toggler {
	    width: 17%;
	}
	.aiml-services .number-leaf {
	    width: 15%;
	}
	.aiml-services .features-col p {
	    width: 85%;
	}
	.process-start .features-col .number-leaf {
	    width: 11%;
	    background-size: 79%;
	}
	.use-cases .number-leaf {
	    width: 11%;
	}
	.use-cases .features-col p {
	    width: 86%;
	}
	#tabs nav {
		padding: 15px 4px;
	}
	.career-value #tabs .nav-tabs .nav-link {
    	font-size: 15px;
    }
    .accordion>.card .card-header h5 {
	    font-size: 14px;
	    line-height: 22px;
	}
	.card-body ul.responsibilities-list, .job-deatils p {
		font-size: 15px;
	}
	.overlay-text {
	    width: 91%;
	    height: 94%;
	}
	.number-leaf {
	    width: 13%;
	}
	.features-col p {
	    width: 87%;
	}
	.box-link {
	    margin: -78px 0 0 70px;
	}
	.case-study-col .box-link {
	    margin: -30px 0 0 70px;
	}
	.form-inline .form-control {
	    width: 100%;
	    padding: 10px 20px 11px 42px;
	    border-radius: 0;
	    height: auto;
	}
	.subscribe-btn {
		float: right;
	}





}

@media (max-width: 320px) {
	.box-link {
	    margin: -78px 0 0 54px;
	}
	.case-study-col .box-link {
	    margin: -30px 0 0 54px;
	}
}


















